In [1]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, auc, recall_score, precision_score, accuracy_score

import pandas as pd

In [2]:
df = pd.read_csv("./training_dataset.csv")

In [3]:
df_test = pd.read_csv("./test_dataset.csv")

In [4]:
#df["scribe"] = df.scribe.apply(nametor)

In [5]:
df.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,scribe
0,0,-0.091897,0.297600,0.079145,0.196496,0.261718,1.269960,0.446679,-0.751707,0.001721,0.998901,Philippus
1,1,-0.091897,0.226939,0.267634,0.024091,0.261718,-0.806282,0.597681,-0.601277,0.126447,-0.909619,Paithonius
2,2,0.167323,0.313302,0.168055,-0.383198,0.261718,0.190314,0.824183,0.558250,-0.247731,-0.148073,Marcus
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,0.896237,0.182426,0.416867,1.373706,0.868284,Noaelius
4,4,0.043885,0.407516,-0.120014,0.281743,0.261718,-0.183409,0.106925,0.142896,0.531806,-0.101311,Marcus

In [6]:
#df.drop('id', axis=1, inplace=True)

In [7]:
y = df["scribe"]
X = df.drop(columns=['scribe'], axis=1)

In [8]:
X.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10
0,0,-0.091897,0.297600,0.079145,0.196496,0.261718,1.269960,0.446679,-0.751707,0.001721,0.998901
1,1,-0.091897,0.226939,0.267634,0.024091,0.261718,-0.806282,0.597681,-0.601277,0.126447,-0.909619
2,2,0.167323,0.313302,0.168055,-0.383198,0.261718,0.190314,0.824183,0.558250,-0.247731,-0.148073
3,3,-0.017834,-0.228430,0.370770,1.293671,0.172340,0.896237,0.182426,0.416867,1.373706,0.868284
4,4,0.043885,0.407516,-0.120014,0.281743,0.261718,-0.183409,0.106925,0.142896,0.531806,-0.101311

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestRegressor,BaggingRegressor,GradientBoostingClassifier,AdaBoostRegressor
from sklearn.model_selection import GridSearchCV , KFold , cross_val_score
# Regression
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error 

# Classification
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score 
R2_Scores = []
clf_gbr = GradientBoostingClassifier(n_estimators=500, learning_rate=0.3)
clf_gbr.fit(X_train , y_train)
accuracies = cross_val_score(estimator = clf_gbr, X = X_train, y = y_train, cv = 5,verbose = 1)
y_pred = clf_gbr.predict(X_test)
print('')
print('###### Gradient Boosting Classifier #######')
print('Score : %.4f' % clf_gbr.score(X_test, y_test))
print(accuracies)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

###### Gradient Boosting Classifier #######
Score : 0.9979
[0.99688474 0.9989605  0.995842   0.99739719 0.99843587]

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  1.1min finished

In [11]:
clf_gbr.score(X_test, y_test)

0.9979201331114809

In [12]:
y = df["scribe"]
X = df_test

In [13]:
d = {'scribe':clf_gbr.predict(X)}
df2 = pd.DataFrame(d)
df2["id"] = df["id"]

df4 = df2[['id', 'scribe']]

In [14]:
df4

        id      scribe
0        0  Franciscus
1        1    Ubuntius
2        2    Noaelius
3        3      Marcus
4        4      Marcus
...    ...         ...
8007  8007  Paithonius
8008  8008      Marcus
8009  8009      Marcus
8010  8010   Philippus
8011  8011  Franciscus

[8012 rows x 2 columns]

In [15]:
df4.to_csv('morn7.csv', index=False)